{% extends "layout.html" %}

{% block body %}

    <div class="center-container">
        <h1 class="app-name">Sage</h1>
        <form class="login-form" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            {% if message %}
                <div>{{ message }}</div>
            {% endif %}
            <button type="submit">Login</button>
        </form>
        <button class="register-button" onclick="location.href='register'">Register</button>
        <div class="g-signin2" data-onsuccess="onSignIn">Sign in with Google</div>
    </div>

    <script>
    var config = {
        apiKey: "AIzaSyAg_WrFw5IsIqKb6LLjjagECDMMM2RYOhQ",
        authDomain: "sage-447206.firebaseapp.com",
    };
    firebase.initializeApp(config);
    </script>
{% endblock %} 