{% extends "layout.html" %}

{% block body %}

    <div class="center-container">
        <h1 class="app-name">Sage</h1>
        <form class="register-form" action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <input class="form-control" type="username" name="username" placeholder="Username">
            <input class="form-control" type="password" name="password" placeholder="Password">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
            {% if message %}
                <div>{{ message }}</div>
            {% endif %}
            <input type="submit" class="register-button" value="Register">
        </form>

        <div class="g-signin2" data-onsuccess="onSignIn">Sign in with Google</div>

        Already have an account? <a href="{% url 'login' %}">Log In.</a>
    </div>

    <script>
    var config = {
        apiKey: "AIzaSyAg_WrFw5IsIqKb6LLjjagECDMMM2RYOhQ",
        authDomain: "sage-447206.firebaseapp.com",
    };
    firebase.initializeApp(config);
    </script>
{% endblock %}